<header class="site-header">
  <div class="container header-inner">
    <a href="{{ '/' | relative_url }}" class="site-brand">
      <img src="{{ '/assets/images/zcohen-icon-logo.png' | relative_url }}" alt="ZCohen Logo">
      <span>{{ site.author.name }}</span>
    </a>
    <nav class="site-nav">
      {% for item in site.navigation %}
        <a href="{{ item.link | relative_url }}"
           {% if page.url contains item.link %}class="active"{% endif %}>
          {{ item.name }}
        </a>
      {% endfor %}
    </nav>
  </div>
</header>
